In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import os
import glob

In [83]:
'''
Functions
'''
#MAKE SURE THAT THE HEADER IS THE SAME! PMMA IS NOT
#add 4 lines of: ,, anywhere before the data in PMMA and this will even it out
def file_reader(files):
    files = glob.glob(files)
    data = {}
    for file in files:
        name = (file.split('/')[1]).split('_')[0][4:]
        data[name] = pd.read_csv(file,header=28)
    return data
        
Dict = file_reader('data/*.csv')
Dict['1045NM']

       (s)  (mm)        (kN)   (mm/mm)
0     0.00  0.00    0.000380  0.000017
1     0.50  0.02    0.000389  0.000010
2     1.00  0.04    0.000602  0.000020
3     1.50  0.06    0.001227  0.000017
4     2.00  0.08    0.000958  0.000014
..     ...   ...         ...       ...
176  88.00  3.67   99.220000  0.059810
177  88.50  3.69   99.450000  0.060310
178  89.00  3.71   99.680000  0.060830
179  89.50  3.73   99.900000  0.061360
180  89.68  3.74  100.000000  0.061560

[181 rows x 4 columns]

In [62]:
Dict.keys()

dict_keys(['2024', 'PMMA', '1018CR', '1045NM'])

In [38]:
glob.glob('data/*.csv')

['data/N02D2024_1.csv',
 'data/N02DPMMA_1.csv',
 'data/N02D1018CR_1.csv',
 'data/N02D1045NM_1.csv']